<div class="row-fluid">
  <div class="col-sm-4">
    <img src="{{item.image}}" class="img-responsive center-block">
  </div>
  <div class="col-sm-8">
    <h2>{{item.title}}</h2>
    <p style="text-align: justify">{{item.content.content}}</p>
  </div>
</div>