body {
	background-color: #aaa;
}

div.item {
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #eee;
	background: yellow;
	min-height: 50px;
}

@keyframes animation-test {
	from, 40%, 80%, 98%, to {
    	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  	}

	from {
		transform: scale(.4, 1);
		transform-origin: top left;
	}

	40% {
		transform: scale(1.1, 1);
		transform-origin: top left;	
	}

	80% {
		transform: scale(.98, 1);
		transform-origin: top left;	
	}

	90% {
		transform: scale(1.02, 1);
		transform-origin: top left;	
		animation-delay: 1s;
	}	

	to {
		transform: scale(1, 1);
		transform-origin: top left;
	}
}

div.item.did-insert {
	animation-name: animation-test;
	animation-duration: .8s;
}