<h2 id="title">Welcome to Ember</h2>

<button {{action "load"}}>Load</button>

{{#if isLoading}}
	<p>Loading....</p>
{{else}}
	{{#each news as |item|}}
		{{news-item item=item}}
	{{/each}}
{{/if}}

{{outlet}}
